<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^public/
    RewriteRule ^(.*)$ public/$1 [L]

    # HTTP Kullanımı
    RewriteCond %{HTTPS} on
    RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # www adreslerini yönlendirme
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]

</IfModule>